In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('veg_plant_height.csv')

df

            plant_name UOM  Low_End_of_Range  High_End_of_Range
0            Artichoke   F                 4                  5
1              Arugula   I                 8                 10
2            Asparagus   F                 4                  6
3          Beans, bush   I                24                 30
4   Beans, lima (bush)   I                24                 36
5          Beans, pole   F                 8                 12
6                Beets   I                 4                 12
7             Broccoli   I                18                 24
8      Brussel sprouts   I                24                 36
9              Cabbage   I                12                 18
10             Carrots   I                 6                 15
11         Cauliflower   I                12                 30
12              Celery   I                18                 24
13               Chard   I                12                 30
14             Edamame   F                 1                  3
15                Corn   F                 4                  8
16            Cucumber   F                 1                  5
17            Eggplant   F                 1                  3
18              Endive   I                 6                  9
19              Garlic   I                12                 24
20                Kale   I                12                 24
21            Kohlrabi   I                 9                 12
22               Leeks   I                12                 24
23             Lettuce   I                 6                 12
24                Okra   F                 2                  8
25              Onions   I                 8                 24
26            Parsnips   I                 6                 18
27                Peas   F                 2                  6
28        Peppers, hot   I                12                 48
29       Peppers, bell   I                24                 36
30            Potatoes   I                12                 30
31             Pumpkin   I                12                 24
32            Radishes   I                 2                  6
33             Spinach   I                 6                 15
34            Rutabaga   I                12                 18
35      Squash, summer   I                12                 24
36      Squash, winter   I                12                 24
37        Sweet potato   I                12                 30
38            Tomatoes   F                 2                  8
39             Turnips   I                 6                 12
40            Zucchini   F                 2                  3

# Filtering and Ordering

In [6]:
df[df["Low_End_of_Range"] < 10]

     plant_name UOM  Low_End_of_Range  High_End_of_Range
0     Artichoke   F                 4                  5
1       Arugula   I                 8                 10
2     Asparagus   F                 4                  6
5   Beans, pole   F                 8                 12
6         Beets   I                 4                 12
10      Carrots   I                 6                 15
14      Edamame   F                 1                  3
15         Corn   F                 4                  8
16     Cucumber   F                 1                  5
17     Eggplant   F                 1                  3
18       Endive   I                 6                  9
21     Kohlrabi   I                 9                 12
23      Lettuce   I                 6                 12
24         Okra   F                 2                  8
25       Onions   I                 8                 24
26     Parsnips   I                 6                 18
27         Peas   F                 2                  6
32     Radishes   I                 2                  6
33      Spinach   I                 6                 15
38     Tomatoes   F                 2                  8
39      Turnips   I                 6                 12
40     Zucchini   F                 2                  3

In [10]:
specific_veg = ["Spinach", "Onions"]

df[df["plant_name"].isin(specific_veg)]

   plant_name UOM  Low_End_of_Range  High_End_of_Range
25     Onions   I                 8                 24
33    Spinach   I                 6                 15

In [11]:
df[df["plant_name"].str.contains("Squash")]

        plant_name UOM  Low_End_of_Range  High_End_of_Range
35  Squash, summer   I                12                 24
36  Squash, winter   I                12                 24

In [13]:
df2 = df.set_index('plant_name')
df2

                   UOM  Low_End_of_Range  High_End_of_Range
plant_name
Artichoke            F                 4                  5
Arugula              I                 8                 10
Asparagus            F                 4                  6
Beans, bush          I                24                 30
Beans, lima (bush)   I                24                 36
Beans, pole          F                 8                 12
Beets                I                 4                 12
Broccoli             I                18                 24
Brussel sprouts      I                24                 36
Cabbage              I                12                 18
Carrots              I                 6                 15
Cauliflower          I                12                 30
Celery               I                18                 24
Chard                I                12                 30
Edamame              F                 1                  3
Corn                 F                 4                  8
Cucumber             F                 1                  5
Eggplant             F                 1                  3
Endive               I                 6                  9
Garlic               I                12                 24
Kale                 I                12                 24
Kohlrabi             I                 9                 12
Leeks                I                12                 24
Lettuce              I                 6                 12
Okra                 F                 2                  8
Onions               I                 8                 24
Parsnips             I                 6                 18
Peas                 F                 2                  6
Peppers, hot         I                12                 48
Peppers, bell        I                24                 36
Potatoes             I                12                 30
Pumpkin              I                12                 24
Radishes             I                 2                  6
Spinach              I                 6                 15
Rutabaga             I                12                 18
Squash, summer       I                12                 24
Squash, winter       I                12                 24
Sweet potato         I                12                 30
Tomatoes             F                 2                  8
Turnips              I                 6                 12
Zucchini             F                 2                  3

In [14]:
df2.filter(items=["Low_End_of_Range", "High_End_of_Range"])

                    Low_End_of_Range  High_End_of_Range
plant_name
Artichoke                          4                  5
Arugula                            8                 10
Asparagus                          4                  6
Beans, bush                       24                 30
Beans, lima (bush)                24                 36
Beans, pole                        8                 12
Beets                              4                 12
Broccoli                          18                 24
Brussel sprouts                   24                 36
Cabbage                           12                 18
Carrots                            6                 15
Cauliflower                       12                 30
Celery                            18                 24
Chard                             12                 30
Edamame                            1                  3
Corn                               4                  8
Cucumber                           1                  5
Eggplant                           1                  3
Endive                             6                  9
Garlic                            12                 24
Kale                              12                 24
Kohlrabi                           9                 12
Leeks                             12                 24
Lettuce                            6                 12
Okra                               2                  8
Onions                             8                 24
Parsnips                           6                 18
Peas                               2                  6
Peppers, hot                      12                 48
Peppers, bell                     24                 36
Potatoes                          12                 30
Pumpkin                           12                 24
Radishes                           2                  6
Spinach                            6                 15
Rutabaga                          12                 18
Squash, summer                    12                 24
Squash, winter                    12                 24
Sweet potato                      12                 30
Tomatoes                           2                  8
Turnips                            6                 12
Zucchini                           2                  3

In [17]:
df2.filter(items=["Spinach"], axis=1)

Empty DataFrame
Columns: []
Index: [Artichoke, Arugula, Asparagus, Beans, bush, Beans, lima (bush), Beans, pole, Beets, Broccoli, Brussel sprouts, Cabbage, Carrots, Cauliflower, Celery, Chard, Edamame, Corn, Cucumber, Eggplant, Endive, Garlic, Kale, Kohlrabi, Leeks, Lettuce, Okra, Onions, Parsnips, Peas, Peppers, hot, Peppers, bell, Potatoes, Pumpkin, Radishes, Spinach, Rutabaga, Squash, summer, Squash, winter, Sweet potato, Tomatoes, Turnips, Zucchini]

In [18]:
df2.filter(items=["Spinach"], axis=0)

        UOM  Low_End_of_Range  High_End_of_Range
Spinach   I                 6                 15